@model BananacoindotNet.BL.model.BC_CuentaSaldoViewModel
@{
    ViewBag.Title = "Index";
}

<h2>CUENTAS</h2>

<div>
    <table class="table table-striped">
        <tr>
            <td>
                Dirección
            </td>
            <td>
                @Model.direccion
            </td>
        </tr>
    </table>
</div>